@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.font-noto {
  font-family: "Noto Serif", serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.orange {
  color: #e95a08;
}
body {
  background-color: #f5f8ff;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 120px 0px;
}
.navbar-links ul {
  display: flex;
  gap: 48px;
}

.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: #8987a1;
  font-size: 16px;
}
.navbar-links .light-black {
  color: #252432;
  font-weight: bold;
}
.navbar-links .black {
  color: #252432;
}

/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px;
  align-items: end;
}

.banner-header {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 13px;
}
.banner-img {
  width: 100%;
}
.banner-text {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

/* cart section */
.cart-section {
  text-align: center;
  margin-top: 120px;
}

.cart-section h3 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}
.cart-contents .text {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 900px;
  margin: 0 auto;
}

.cart-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.cart-contents img {
  width: 100%;
}

.cart-contents h4 {
  font-size: 22px;
  font-weight: 500;
  color: #111111;
  margin-top: 30px;
}

.cart-contents .price {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 30px;
}

.cart-btn {
  border: none;
  background-color: #e95a08;
  padding: 19px 80px;
}

.cart-btn a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.cart-btn:hover {
  background-color: #e9a208;
}

/* plant section */
.plant-lover {
  display: flex;
  justify-content: space-between;

  margin-top: 210px;
  gap: 60px;
}

.image-container {
  position: relative;
}

.badge {
  position: absolute;
  top: -130px;
  right: -100px;
  width: 286px;
  filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.5));
}

.heading {
  font-size: 50px;
  font-weight: 700;
  margin-top: 38px;
}

.contents {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  padding-left: 40px;
}

.contents li {
  margin-top: 20px;
}

/* latest deals */
.deals-container {
  margin-top: 120px;
}
.deals-content {
  text-align: center;
}
.deals-content h2 {
  font-size: 50px;
  font-weight: 700;
}
.deals-content p {
  margin-top: 16px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.card {
  height: 206px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 16px;
  border-radius: 22px;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "bloom zabo zabo"
    "ana zabo zabo";
  gap: 28px;
  margin-top: 120px;
}

.card a {
  color: rgb(255, 255, 255);
}
.box1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/deal-bloom.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: bloom;
}
.box2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/deal-ana.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: ana;
}
.box3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/deal-zabo.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: zabo;
  height: 100%;
}
.cards-container .bold-h2 {
  font-weight: 700;
  font-size: 20px;
}
.cards-container .bold-class {
  font-size: 40px;
  font-weight: 700px;

  margin-top: 20px;
}
.cards-container .bold-text {
  font-size: 16px;
  font-weight: 600;
}
.cards-container .bold-a {
  font-weight: 600;
  font-size: 28px;
}

/* Join section */
.join-section {
  margin-top: 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/news-letter-bg.png");
  height: 530px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.join-header {
  font-size: 50px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.submit-box {
  display: flex;
}

.join-btn {
  background-color: #e95a08;

  padding: 20px 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 16px;
  border: none;
}
.submit-box input[type="email"] {
  padding: 8px 20px;
  width: 644px;
  border: none;
  outline: none;
}
.submit-box input[type="email"]::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
  /* join section */
  .join-section {
    height: 275px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 23px;
  }
  .join-btn {
    padding: 8px 10px;
  }
  .submit-box input[type="email"] {
    padding: 15px 20px;
    width: 220px;
  }
  .join-header {
    font-size: 20px;
    font-weight: 700;
  }
  /* latest deals */
  .cards-container {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .card {
    height: 206px; /* reset */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .cards-container .bold-class {
    font-size: 20px;
    font-weight: 700;
  }

  .cards-container .bold-a {
    font-size: 16px;
    font-weight: 600;
  }
  .deals-content .deals-header {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 16px;
  }
  .deals-content .deals-detail {
    font-size: 14px;
  }
  .mobile-cont {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* banner + navbar responsive */

  .navbar {
    padding: 30px 16px 28px 16px;
  }
  .nav-logo {
    width: 60px;
    height: 38px;
  }
  .hidden {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .banner-contents {
    margin-top: 28px;
    padding: 0 16px 0px 16px;
  }
  .banner-contents .banner-header {
    font-size: 30px;
  }
  .banner-contents .banner-text {
    margin-top: 13px;
    font-size: 14px;
  }
  .mobile-break {
    display: inline;
  }

  /* cart-section */
  .cart-section h3 {
    font-size: 24px;
  }
  .cart-contents .text {
    font-size: 14px;
  }
  .cart-display {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0 16px;
  }
  .cart-btn {
    padding: 19px 38px;
  }
  .cart-contents h4 {
    font-size: 16px;
  }
  .cart-contents .price {
    font-size: 16px;
  }

  /* plan section responsive */
  .plant-lover {
    flex-direction: column;
    gap: 18px;
  }
  .badge {
    display: none;
  }
  .lover-img {
    width: 100%;
  }
  .heading {
    font-size: 24px;
    margin: 0px;
  }
  br {
    display: none;
  }
  .contents {
    padding-left: 24px;
    font-size: 14px;
  }
  .contents li {
    margin-top: 16px;
  }
}
